.profile-page {
  width: 50%;
  margin: auto;
  h2 {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
  }
  h1 {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 2rem;
  }
  .user-info {
    font-size: 1.3rem;
    width: 80%;
    margin: auto;
    padding: 0 4rem;
  }
}

@media (max-width: 700px) {
  .profile-page {
    width: 90%;
    h2 {
      font-size: 1.4rem;
    }
    h1 {
      font-size: 1.8rem;
    }
    .user-info {
      width: 100%;
      font-size: 1rem;
      padding: 0 1rem;
    }
  }
}
