@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

$bg: #f6f7fa;
$contrast: #000;
$text-primary: rgba(0, 0, 0, 0.87);
$text-secondary: rgba(0, 0, 0, 0.54);
$hover: #9b9b9b;
$warning: #d11212;
$info: #0071bc;
